<h1>Welcome HR</h1>
<a class="btn btn-outline-info" asp-action="Logout" asp-controller="Home">Logout</a>
<a class="btn btn-outline-info" asp-action="AddEmployee" asp-controller="Home">Add Employee</a>
<a class="btn btn-outline-info" asp-action="EmployeeList" asp-controller="Home">See List</a>

@*@{
    //if (ViewData["design"].Equals("dev"))
    //{



//}
//}

//@{
//    if (ViewData["design"].Equals("tester"))
//    {
//        <h1>this is manager form</h1>
//    }

//}

//@{
//    if (ViewData["design"].Equals("Employee"))
//    {
//        <h1>this is Employee form</h1>
//    }

//}*@