<h2>Performance</h2>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">View</h5>
            <a class="btn btn-outline-info" asp-action="ViewAppraisal" asp-controller="Employee">View Appraisal</a>
            </div>
        </div>
    </div>
